<ion-modal-view>
    <ion-header-bar>
        <h1 class="title"></h1>
        <div class="buttons">
            <!-- <button class="button button-clear" ng-click="closeLogin()"><i class="ion-android-close"></i></button> -->
            <button class="button button-clear icon ion-android-close" ng-click="closeLogin()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <button class="button button-block icon-left ion-social-facebook button-positive" ng-click="doLogin()">Connect with Facebook</button>
    </ion-content>
</ion-modal-view>
