<ion-view view-title="Surprise Me">
    <ion-pane class="content-gray">
        <ion-header-bar class="bar-transparent">
            <h1 class="title">Places</h1>
        </ion-header-bar>
        <swipe-cards>
            <swipe-card on-card-swipe="cardSwiped()" id="start-card">
                Swipe down to discover personalized locations
            </swipe-card>
            <swipe-card ng-repeat="card in places" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
                <div class="item item-avatar">
                    <img ng-if="card.icon" src="{{card.icon}}" class="location-pin">
                    <h2>{{card.name}}</h2>
                    <p>
                        <span ng-if="card.distance">
                            <i class="ion-ios-navigate-outline"></i> {{card.distance}}km,
                        </span>
                        <span ng-if="card.travel_time_in_minutes">
                            <i class="ion-android-time"></i> {{card.travel_time_in_minutes}} mins    
                        </span>
                    </p>
                </div>
                <div class="item item-body">
                    <!-- <img class="full-image" src="img/place-holder-1.png"> -->
                    <img class="full-image" ng-src="{{card.photo_url || 'img/place-holder-1.png'}}">
                    <p>
                        <!-- <strong> {{card.description}} </strong> -->
                        <strong>You are seeing this suggestion because :</strong> {{card.suggestion_reason.join(", ") || "It's a popular destination near your current location"}}
                    </p>
                    <p>
                        <span class="subdued" ng-if="card.amount_min && card.amount_max">
                        Fare Estimate : Rs.{{card.amount_min}} - Rs.{{card.amount_max}}
                    </span>
                    <span ng-if="!(card.amount_min && card.amount_max)">&nbsp;</span>
                    <span class="subdued" ng-if="!(card.amount_min && card.amount_max)">&nbsp;</span>
                    
                    </p>
                </div>
                <a class="item item-icon-left positive" ng-click="bookCab(card)">
                    <i class="icon ion-model-s"></i> Book Now <span style="color:gray" ng-if="cabEta">({{cabEta}} mins away)</span>
                </a>
            </swipe-card>
        </swipe-cards>
    </ion-pane>
</ion-view>
